{% extends 'base.html' %}
{% block head %}
<style>
    body {
        background: #f5f5f5;
        overflow: hidden;
    }

    .indent-small {
        margin-left: 5px;
    }

    .form-group.internal {
        margin-bottom: 0;
    }

    .dialog-panel {
        margin: 70px;
    }

    .panel-body {
        background: #EEEEEE;
    }

    .panel-heading {
        padding: 15px 15px 15px 32px;
        border-bottom: 1px solid transparent;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    label.control-label {
        font-weight: 600;
        color: #777;
        font-family: 'Varela Round', sans-serif;
    }

    .form-horizontal .control-label {
        text-align: inherit;
    }

    .form-control {
        font-family: 'Varela Round', sans-serif;
        width: 400px;
    }

    h3 {
        font-family: 'Varela Round', sans-serif;
    }

    .submit {
        /* background-color: #428bca; */
        color: white;
        padding: 10px 10px 10px 10px;
        margin: 1px;
        margin-left: 5px;
        border: none;
        border-radius: 27px;
        cursor: pointer;
        width: 95px;
        opacity: 0.9;
    }

    .question {
        margin-left: 180px;
    }

    .panel-heading {
        background-color: #513c93e0 !important;
        color: white;
    }
    .form-control .row{
        padding: 10px 35px;
    }
    

</style>
{% endblock %}
{% block content %}
<div class='container'>
    <div class='panel panel-primary dialog-panel'>
        <div class='panel-heading'>
            <h3>Add Skill</h3>
        </div>
        <div class='panel-body'>
            {% if action == 'create' %}
            <form action="/addskill" method="POST">
                <br>
                <div class='form-group'>
                    <div class="row" style="padding: 10px 35px;">
                    <label class='control-label col-md-3 col-md-offset-1' for='id_title'>Skill</label>
                    <div class='col-md-8'>
                        <div class='col-md-4 indent-small'>
                            <div class='form-group internal'>
                                <input class='form-control' name='skill' id='skill' placeholder='Enter your skill'
                                    type='text' required>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class='form-group'>
                    <div class="row" style="padding: 10px 35px;">
                    <label class='control-label col-md-3 col-md-offset-1' for='id_title'>Percentage</label>
                    <div class='col-md-8'>
                        <div class='col-md-4 indent-small'>
                            <div class='form-group internal'>
                                <input class='form-control' name='percent' id='percent' placeholder='Rate your skill out of 100'
                                    type='number' required>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                
                
                <div class='form-group text-center'>
                    <div class=' col-md-12'>
                        <button type='submit' id='submit' class="submit btn-primary">Submit</button>
                        <a href="/profile"><button type='button' id='cancel' class="submit btn-danger">Cancel</button></a>
                    </div>
                </div>
                <br>
            </form>
            {% elif action == 'edit' %}
            <form action="/editskill/{{skill.id}}" method="POST">
                <br>
                <div class='form-group'>
                    <div class="row" style="padding: 10px 35px;">
                    <label class='control-label col-md-3 col-md-offset-1' for='id_title'>Skill</label>
                    <div class='col-md-8'>
                        <div class='col-md-4 indent-small'>
                            <div class='form-group internal'>
                                <input class='form-control' name='skill' id='skill' placeholder='Enter your skill' value="{{skill.name}}"
                                    type='text' required readonly>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class='form-group'>
                    <div class="row" style="padding: 10px 35px;">
                    <label class='control-label col-md-3 col-md-offset-1' for='id_title'>Percentage</label>
                    <div class='col-md-8'>
                        <div class='col-md-4 indent-small'>
                            <div class='form-group internal'>
                                <input class='form-control' name='percent' id='percent' placeholder='Rate your skill out of 100' value="{{skill.percentage}}"
                                    type='number' required>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                
                
                <div class='form-group text-center'>
                    <div class=' col-md-12'>
                        <button type='submit' id='submit' class="submit btn-primary">Submit</button>
                        <a href="/profile"><button type='button' id='cancel' class="submit btn-danger">Cancel</button></a>
                    </div>
                </div>
                <br>
            </form>
            {% endif %}
        </div>
        <br> <br>
    </div>
</div>
{% endblock %}